<template name="adminDashboardModify">
  {{#if isInRole 'admin'}}

    {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
      </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      {{#if isAndroid}}
        <h1 class="title"> Modify User</h1>
      {{else}}
        <h1 class="title" style="text-align:center;"> Modify User</h1>
      {{/if}}
    {{/contentFor}}

    {{#ionView}}

    {{#ionSubheaderBar class="list item item-input-inset"}}

      <label class="item-input-wrapper">
        <input type="text" class="searchuser" placeholder="Search ID">
      </label>
      <button class="button button-clear button-dark button-small btn_clear">
        clear
      </button>

    {{/ionSubheaderBar}}

      {{#ionContent}}
      <div class="padding">

      {{#if Template.subscriptionsReady}}
        <div class="list">

          {{#each result}}
            {{#if user}}
              <a class="item item-avatar item-icon-right" href="#">
                <img src="../../user.png">
                <h2>{{username}}</h2>
                <p>{{profile.lastname}}, {{profile.firstname}}</p>
                <i class="icon ion-compose" data-ion-modal="modifyuser"></i>
              </a>
            {{/if}}

          {{else}}
            No results found.
          {{/each}}

        </div>
      {{else}}
        {{>spinner}}
      {{/if}}

      </div>
      {{/ionContent}}
    {{/ionView}}

  {{else}}
    {{>dashboard}}
  {{/if}}
</template>
