<template name="adminDashboardSettings">
  {{#if isInRole 'admin'}}

    {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
      </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      <h1 class="title" style="text-align:center;"> Settings</h1>
    {{/contentFor}}

    {{#ionView}}
      {{#ionContent}}
        <div class="padding">

          <div class="list">
            <a class="item item-thumbnail-left" href="#">
              <img src="../admin.png">
              <h2>ADMIN</h2>
            </a>
          </div>

          <div class="list">
            <label class="item item-input">
              <span class="input-label">Old Password</span>
              <input type="password" class="old">
            </label>
            <label class="item item-input">
              <span class="input-label">New Password</span>
              <input type="password" class="new">
            </label>
          </div>

          <button class="button button-block button-balanced btn-update">
            Update Password
          </button>

        </div>
      {{/ionContent}}
    {{/ionView}}

  {{else}}
    {{>dashboard}}
  {{/if}}
</template>
