<template name="adminDashboardTokenStudent">
  {{#if isInRole 'admin'}}

      {{#contentFor "headerButtonLeft"}}
        <button class="button button-clear pull-left" data-ion-menu-toggle="left">
          {{> ionIcon icon='navicon'}}
        </button>
      {{/contentFor}}

      {{#contentFor "headerTitle"}}
        <h1 class="title" style="text-align:center;"> Student Token</h1>
      {{/contentFor}}

      {{#ionView}}
        {{#ionContent}}
          <div class="padding">

            {{#if Template.subscriptionsReady}}
              <ul class="list">
                <li class="item item-toggle">
                  {{#if available}}available{{else}}unavailable{{/if}}
                 <label class="toggle toggle-balanced">
                   <input type="checkbox" class="available">
                   <div class="track">
                     <div class="handle"></div>
                   </div>
                 </label>
                </li>
              </ul>

              <button class="button button-block button-balanced btn_token">
                Generate Token
                {{> ionIcon icon="android-add-circle"}}
              </button>

              <div class="list">

                {{#each tokens}}
                  <a class="item item-icon-right" href="#">
                    {{#if available}}
                      <i class="icon ion-ios-copy balanced btn_copy" data-clipboard-text="{{token}}"></i>
                    {{else}}
                      <i class="icon ion-trash-b assertive btn_delete"></i>
                    {{/if}}
                    {{token}}
                  </a>
                {{/each}}

              </div>

            {{else}}
              {{>spinner}}
          {{/if}}

          </div>
        {{/ionContent}}
      {{/ionView}}

  {{else}}
    {{>dashboard}}
  {{/if}}
</template>
