<template name="adminDashboardLayout">
  {{#if isInRole 'admin'}}
  {{#ionBody}}
    {{#ionSideMenuContainer}}
      {{#ionSideMenus}}
        {{#ionSideMenu}}

          <div class="content">
            <div class="list">
              <a class="item item-thumbnail-left sidebar_avatar" href="#">
                <img src="../user.png">
                <h2 class="sidebar_name">Joseph Bethuel</h2>
                <h2 class="sidebar_name">ADMIN</h2>
              </a>
              <div class="item item-divider sidebar_subtitle sidebar-item-divider">
                Main Menu
              </div>
              <div class="item item-icon-left" id="sideHome" style="{{#if isActiveRoute 'adminDashboardHome'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Home
                {{#if isAndroid}}
                  {{> ionIcon icon="android-home" class="energized"}}
                {{else}}
                  {{> ionIcon icon="ios-home" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sidePost" style="{{#if isActiveRoute 'adminDashboardPost'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Post News
                {{#if isAndroid}}
                  {{> ionIcon icon="android-star" class="energized"}}
                {{else}}
                  {{> ionIcon icon="ios-star" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sideGenerateStudent" style="{{#if isActiveRoute 'adminDashboardTokenStudent'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Generate Token Student
                {{#if isAndroid}}
                  {{> ionIcon icon="android-add-circle" class="energized"}}
                {{else}}
                  {{> ionIcon icon="ios-plus" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sideGenerateTeacher" style="{{#if isActiveRoute 'adminDashboardTokenTeacher'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Generate Token Teacher
                {{#if isAndroid}}
                  {{> ionIcon icon="android-add-circle" class="energized"}}
                {{else}}
                  {{> ionIcon icon="ios-plus-outline" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sideSettings" style="{{#if isActiveRoute 'adminDashboardSettings'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Settings
                {{#if isAndroid}}
                  {{> ionIcon icon="android-settings" class="energized"}}
                {{else}}
                  {{> ionIcon icon="ios-settings" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-divider sidebar_subtitle sidebar-item-divider">
                Application
              </div>
              <div class="item item-icon-left" id="sideAbout" style="{{#if isActiveRoute 'adminDashboardAbout'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                About
                {{#if isAndroid}}
                  {{> ionIcon icon="android-alert" class="energized"}}
                {{else}}
                  {{> ionIcon icon="ios-information" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sideLogout" data-ion-menu-close>
                Log out
                {{> ionIcon icon="ios-undo" class="energized"}}
              </div>
            </div>
          </div>

        {{/ionSideMenu}}

      {{/ionSideMenus}}
      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-royal"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/ionBody}}

  {{else}}
    {{>dashboard}}
  {{/if}}
</template>
