<template name="adminDashboardLoginUser">
  {{#if isInRole 'admin'}}

    {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
      </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      {{#if isAndroid}}
        <h1 class="title"> Login User</h1>
      {{else}}
        <h1 class="title" style="text-align:center;"> Login User</h1>
      {{/if}}
    {{/contentFor}}

    {{#ionView}}

    {{#ionSubheaderBar class="list item item-input-inset"}}

      <label class="item-input-wrapper">
        <input type="text" class="searchuser" placeholder="Search ID">
      </label>
      <button class="button button-clear button-dark button-small btn_clear">
        clear
      </button>

    {{/ionSubheaderBar}}

      {{#ionContent}}
        <div class="padding">

        {{#if Template.subscriptionsReady}}
          <div class="list">

            {{#each result}}
              {{#if user}}

                <div class="list">
                  <a class="item item-thumbnail-left item-icon-right" href="#">
                    <img src="../../user.png">
                    <h2>{{username}}</h2>
                    <p><strong>{{roles}}</strong></p>
                    <p>{{profile.lastname}}</p>
                    <p>{{profile.firstname}}</p>
                    <i class="icon ion-log-in" data-impersonate="{{_id}}"></i>
                  </a>
                </div>

              {{/if}}

            {{else}}
              No results found.
            {{/each}}

          </div>
        {{else}}
          {{>spinner}}
        {{/if}}

        </div>
      {{/ionContent}}
    {{/ionView}}

  {{else}}
    {{>dashboard}}
  {{/if}}

</template>
