<template name="adminDashboardPost">
  {{#if isInRole 'admin'}}

    {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
        {{> ionIcon icon='navicon'}}
      </button>
    {{/contentFor}}

    {{#contentFor "headerTitle"}}
      <h1 class="title" style="text-align:center;"> Post News</h1>
    {{/contentFor}}

    {{#ionView}}
      {{#ionContent}}
      <div class="row"></div>
        <div class="list">

          <div class="item item-divider item-icon-right">
            <div class="item-text-wrap">
              Sends news to teachers & students.
            </div>
            {{> ionIcon icon="android-alert" class="energized"}}
          </div>

          <label class="item item-input">
            <input type="text" class="txtTitle" placeholder="News Title">
          </label>
          <label class="item item-input">
            <textarea class="txtContent" placeholder="News Details"></textarea>
          </label>

          <div class="item item-divider">
            Send announcement to:
          </div>

          <li class="item item-checkbox">
             <label class="checkbox checkbox-energized">
               <input type="checkbox" class="chkStud">
             </label>
             Student
          </li>
          <li class="item item-checkbox">
             <label class="checkbox checkbox-energized">
               <input type="checkbox" class="chkTeach">
             </label>
             Teacher
          </li>

          <div class="row">
            <div class="col">
              <button class="button button-block icon-right ion-android-cancel button-stable btn_cancel">Cancel</button>
            </div>

            <div class="col">
              <button class="button button-block icon-right ion-android-send button-balanced btn_send">Send</button>
            </div>
          </div>

        </div>
      {{/ionContent}}
    {{/ionView}}

  {{else}}
    {{>dashboard}}
  {{/if}}
</template>
