<template name="adminDashboardTokenStudent">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title"> Student Token</h1>
    {{else}}
      <h1 class="title" style="text-align:center;"> Student Token</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

        <!-- <div class="list card">

          <a href="#" class="item item-icon-right">
            <div class="item-text-wrap">
              <p>Generate tokens for student.</p>
            </div>
            {{> ionIcon icon="android-alert" class="royal"}}
          </a>

        </div> -->

        <ul class="list">

          <li class="item item-toggle">
            {{#if available}}available{{else}}unavailable{{/if}}
           <label class="toggle toggle-balanced">
             <input type="checkbox" class="available">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
          </li>

        </ul>

        <button class="button button-block button-balanced btn_token">
          Generate Token
          {{> ionIcon icon="android-add-circle"}}
        </button>

        <ul class="list">
          {{#each tokens}}
            <li class="item">
              <span>{{token}}</span>
              <button class="button button-icon icon ion-ios-copy pull-right btn_copy" data-clipboard-text="{{token}}"></button>
            </li>
          {{/each}}
        </ul>

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
