<template name="_EditStudent">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <a class="item item-icon-right DropStudent" >
          Drop Student
        </a>
        <a class="item item-icon-right KickStudent" >
          Not In This Class
        </a>
      </div>
    </div>
  {{/ionPopover}}
</template>

<template name="_EditStudentDrop">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <a class="item item-icon-right TakeStudent" >
          Take Student Back
        </a>
        <a class="item item-icon-right KickStudent" >
          Not In This Class
        </a>
      </div>
    </div>
  {{/ionPopover}}
</template>
