<template name="teacheraddstudent">
  {{#ionModal customTemplate=true title="AddStudent"}}
    <div class="bar bar-header bar-energized">
      <h2 class="title">Add Student</h2>
      <button data-dismiss="modal" class="button button-icon">cancel</button>
    </div>
     <div class="padding" style="margin-top:20px">
       <div class="list list-inset">
         <label class="item item-input">
           <i class="icon ion-search placeholder-icon"></i>
           <input type="text" placeholder="Search" id="txtSearchStud">
         </label>
       </div>

       <div class="list">
         {{outputinfo}}
         {{#each studentInfos}}
           {{#if IsNotInClass _id}}
             <a class="item item-avatar" id="btnAddStud"  data-dismiss="modal" href="#">
                 <img src="{{#with asd}} {{url}} {{/with}}">
               <h3 style="color:black">{{profile.fullname}}</h3>
             </a>
            {{/if}}
         {{/each}}
       </div>
     </div>
  {{/ionModal}}
</template>
