<template name="teacherDashboardGradeSettings">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Grade Settings</h1>
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}} {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent class="padding"}}
    <div class="list">
      {{#if issetGrade}} {{#each percentageCurrent}}
        <h3>Midterm Grade Settings</h3>
        <label class="item item-input item-select">
            <div class="input-label">
                Midterm CS
            </div>
            <select id="txtMidtermCS">
                <option value="{{midtermCS}}" selected>Current: {{convertTohundred midtermCS}}%</option>
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Midterm PROJECT
            </div>
            <select id="txtMidtermPRJ">
                <option value="{{midtermPRJ}}" selected>Current: {{convertTohundred midtermPRJ}}%</option>
                <option value="0">0%</option>
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Midterm EXAM
            </div>
            <select id="txtMidtermEXAM">
                <option value="{{midtermEXAM}}" selected>Current: {{convertTohundred midtermEXAM}}%</option>
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        <br>
        <h3>Finalterm Grade Settings</h3>
        <!--FINAL GRADE SETTING-->
        <label class="item item-input item-select">
            <div class="input-label">
                Finalterm CS
            </div>
            <select id="txtFinaltermCS">
                <option value="{{finaltermCS}}" selected>Current: {{convertTohundred finaltermCS}}%</option>
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Finalterm PROJECT
            </div>
            <select id="txtFinaltermPRJ">
                <option value="{{finaltermPRJ}}" selected>Current: {{convertTohundred finaltermPRJ}}%</option>
                <option value="0">0%</option>
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Finalterm EXAM
            </div>
            <select id="txtFinaltermEXAM">
                <option value="{{finaltermEXAM}}" selected>Current: {{convertTohundred finaltermEXAM}}%</option>
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        {{/each}} {{else}}
        <h3>Midterm Grade Settings</h3>
        <label class="item item-input item-select">
            <div class="input-label">
                Midterm CS
            </div>
            <select id="txtMidtermCS">
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60" selected>60%</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Midterm PROJECT
            </div>
            <select id="txtMidtermPRJ">
                <option value="0" selected>0%</option>
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Midterm EXAM
            </div>
            <select id="txtMidtermEXAM">
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40" selected>40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        <br>
        <h3>Finalterm Grade Settings</h3>
        <!--FINAL GRADE SETTING-->
        <label class="item item-input item-select">
            <div class="input-label">
                Finalterm CS
            </div>
            <select id="txtFinaltermCS">
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60" selected>60%</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Finalterm PROJECT
            </div>
            <select id="txtFinaltermPRJ">
                <option value="0" selected>0%</option>
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40">40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Finalterm EXAM
            </div>
            <select id="txtFinaltermEXAM">
                <option value=".10">10%</option>
                <option value=".20">20%</option>
                <option value=".30">30%</option>
                <option value=".40" selected>40%</option>
                <option value=".50">50%</option>
                <option value=".60">60%</option>
            </select>
        </label>
        {{/if}}
    </div>

    <button class="button button-full button-dark" id="btnsave">
        Save
    </button>

    {{/ionContent}}
  {{/ionView}}
</template>
