<template name="teacherDashboardCreate">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">Teacher Create</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">Teacher Create</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

        <div class="list">

          <label class="item item-input">
            <span class="input-label">Description</span>
            <input type="text" id="txtAddDescription" placeholder="Subject Description">
          </label>

          <label class="item item-input">
            <span class="input-label">Section Code</span>
            <input type="text" id="txtAddSectionCode" placeholder="Section Code">
          </label>

          <label class="item item-input">
            <span class="input-label">Subject Code</span>
            <input type="text" id="txtAddSubjectCode" placeholder="Subject Code">
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Semester
            </div>
            <select id="txtAddSemester">
              <option value="1st Semester" selected>1st Semester</option>
              <option value="2nd Semester">2nd Semester</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Schedule
            </div>
            <select id="txtAddSchedule">
              <option value="MWF" selected>MWF</option>
              <option value="TTH">TTH</option>
            </select>
          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Time Start
            </div>

            <select id="txtTimeStart" >
              <option value="7:30 AM" selected>7:30 AM</option>
              <option value="8:00 AM">8:00 AM</option>
              <option value="8:30 AM">8:30 AM</option>
              <option value="9:00 AM">9:00 AM</option>
              <option value="9:30 AM">9:30 AM</option>
              <option value="10:00 AM">10:00 AM</option>
              <option value="10:30 AM">10:30 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="11:30 AM">11:30 AM</option>
              <option value="12:00 PM">12:00 PM</option>
              <option value="12:30 PM">12:30 PM</option>
              <option value="1:00 PM">1:00 PM</option>
              <option value="1:30 PM">1:30 PM</option>
              <option value="2:00 PM">2:00 PM</option>
              <option value="2:30 PM">2:30 PM</option>
              <option value="3:00 PM">3:00 PM</option>
              <option value="3:30 PM">3:30 PM</option>
              <option value="4:00 PM">4:00 PM</option>
              <option value="4:30 PM">4:30 PM</option>
              <option value="5:00 PM">5:00 PM</option>
              <option value="5:30 PM">5:30 PM</option>
              <option value="6:00 PM">6:00 PM</option>
              <option value="6:30 PM">6:30 PM</option>
              <option value="7:00 PM">7:00 PM</option>
              <option value="7:30 PM">7:30 PM</option>
              <option value="8:00 PM">8:00 PM</option>
              <option value="8:30 PM">8:30 PM</option>
              <option value="9:00 PM">9:00 PM</option>
            </select>

          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              Time End
            </div>

            <select id="txtTimeEnd" >
              <option value="7:30 AM" selected>7:30 AM</option>
              <option value="8:00 AM">8:00 AM</option>
              <option value="8:30 AM">8:30 AM</option>
              <option value="9:00 AM">9:00 AM</option>
              <option value="9:30 AM">9:30 AM</option>
              <option value="10:00 AM">10:00 AM</option>
              <option value="10:30 AM">10:30 AM</option>
              <option value="11:00 AM">11:00 AM</option>
              <option value="11:30 AM">11:30 AM</option>
              <option value="12:00 PM">12:00 PM</option>
              <option value="12:30 PM">12:30 PM</option>
              <option value="1:00 PM">1:00 PM</option>
              <option value="1:30 PM">1:30 PM</option>
              <option value="2:00 PM">2:00 PM</option>
              <option value="2:30 PM">2:30 PM</option>
              <option value="3:00 PM">3:00 PM</option>
              <option value="3:30 PM">3:30 PM</option>
              <option value="4:00 PM">4:00 PM</option>
              <option value="4:30 PM">4:30 PM</option>
              <option value="5:00 PM">5:00 PM</option>
              <option value="5:30 PM">5:30 PM</option>
              <option value="6:00 PM">6:00 PM</option>
              <option value="6:30 PM">6:30 PM</option>
              <option value="7:00 PM">7:00 PM</option>
              <option value="7:30 PM">7:30 PM</option>
              <option value="8:00 PM">8:00 PM</option>
              <option value="8:30 PM">8:30 PM</option>
              <option value="9:00 PM">9:00 PM</option>
            </select>

          </label>

          <label class="item item-input item-select">
            <div class="input-label">
              School Year
            </div>
            <select id="txtAddYear" >
              <option value="2015-2016" selected>2015-2016</option>
              <option value="2016-2017">2016-2017</option>
              <option value="2017-2018">2017-2018</option>
              <option value="2018-2019">2018-2019</option>
              <option value="2019-2020">2019-2020</option>
            </select>
          </label>

        </div>
        <button class="button button-block button-balanced" id="btnAddClass">
          Add Class
        </button>

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
