<template name="teacherDashboardHome">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">Teacher Home</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">Admin Home</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

        <div class="card">
          <div class="item item-divider">
            I'm a Header in a Card!
          </div>
          <div class="item item-text-wrap">
            This is a basic Card with some text.
          </div>
        </div>

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
