<template name="teacherDashboardClass">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">My Class</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">My Class</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="padding">
      {{#if Template.subscriptionsReady}}
        <div class="list">
          {{#each classes}}
            <a class="item item-icon-left item-icon-right" data-action="showActionSheet">
              <i class="icon ion-person-stalker"></i>
                <h3>Subject:{{description}}</h3>
                <p><b>Schedule:</b>{{sec_code}} - {{subj_code}} - {{sem}} - {{school_yr}}</p>
                <p><b>Passkey:</b>{{passkey}}</p>
              <i class="icon ion-android-open" ></i>
            </a>
          {{/each}}
        </div>
      {{else}}
        {{>spinner}}
      {{/if}}
    </div>
    {{/ionContent}}
  {{/ionView}}
</template>
