<template name="teacherDashboardActivity">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Back</h1>
  {{/contentFor}}

  {{#ionSubheaderBar}}
    <h2 class="title">Class Activity</h2>
  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent class="padding"}}
      <div class="list">

        <label class="item item-input">
          <span class="input-label">Title</span>
          <input type="text" id="txtActivityTitle" placeholder="Title">
        </label>

        <label class="item item-input">
          <textarea placeholder="Description" id="txtActivityDescription" style="text-align: left;" required="true"></textarea>
        </label>

        <div class="card">
          <div class="item item-text-wrap">
            <input multiple class="file fileinput" type="file">
          </div>
        </div>

        <h4>Deadline</h4>
        <label class="item item-input item-select">
          <div class="input-label">
            Term
          </div>
          <select id="txtActivityTerm">
            <option value="midterm" selected>Midterm</option>
            <option value="finalterm">Finalterm</option>
          </select>
        </label>

        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date" id="datepicker" required="true">
        </label>

      </div>

      <button class="button button-block button-dark" id="btnAddActivity">
        Add Activity
      </button>

    {{/ionContent}}
  {{/ionView}}
</template>
