<template name="teacherDashboardAbout">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">Teacher About</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">Admin About</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    {{#ionSlideBox}}
      {{#ionSlide class="light-bg"}}
        <div class="padding">
          <img src="../../about/meteor-logo.png" class="about-logo">
          <img src="../../about/ionic-logo.png" class="about-logo">
          <img src="../../about/cordova-logo.png" class="about-logo">
        </div>
      {{/ionSlide}}
      {{#ionSlide class="dark-bg"}}
        <div class="padding" style="color:white;">
          <h2 style="color:white">Application Developers</h2><br>
          Van Alfred Sabacajan<br>
          Nino Paul Cervantes<br>
          Joseph Bethuel Dela Cruz<br>

          <h2 style="color:white">Researchers</h2><br>
          Apple Joy Ebcas<br>
          April Gloed Subrado<br>
        </div>
      {{/ionSlide}}
      {{#ionSlide class="positive-bg"}}
        <div class="padding" style="color:white;">
          <h3 style="color:white;">Special thanks To:</h3><br>
          Rozanne Tuesday Flroes<br>
          Marilou Espina<br>
          IT Faculty<br>
        </div>
      {{/ionSlide}}
    {{/ionSlideBox}}

    {{/ionContent}}
  {{/ionView}}
</template>
