<template name="teacherDashboardMessageboard">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Back</h1>
  {{/contentFor}}

  {{#ionSubheaderBar}}
    <h2 class="title">Message Board</h2>
  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent}}

    {{#if Template.subscriptionsReady}}
      {{#each messages}}
        {{#if equals senderId currentUser._id}}
          <div class="list" style="margin-bottom: 0px;">
            <a class="item item-avatar-right" href="#">
              {{#if ownImage.count}}
                {{#each file in ownImage.each}}
                  <img src="{{file.link}}" alt="">
                {{/each}}
              {{/if}}
              <div style="text-align:right; margin-right:20px;">
                <h2>YOU</h2>
                <div class="item-text-wrap"><p>{{message}}</p></div>
                <p><small>{{livestamp createdAt}}</small></p>
              </div>
            </a>
          </div>
          {{else}}
          <div class="list" style="margin-bottom: 0px;">
            <a class="item item-avatar" href="#">
              {{#if image.count}}
                {{#each file in image.each}}
                  <img src="{{file.link}}" alt="">
                {{/each}}
              {{/if}}
              <h2>{{#each name senderId}}{{profile.lastname}}{{/each}}</h2>
              <div class="item-text-wrap"><p>{{message}}</p></div>
              <p><small>{{livestamp createdAt}}</small></p>
            </a>
          </div>
        {{/if}}
      {{/each}}
    {{else}}
      {{>spinner}}
    {{/if}}

    {{/ionContent}}

    {{#ionFooterBar class="item item-input-inset"}}
      <label class="item-input-wrapper">
        <input type="text" class="txtArea" placeholder="Type something">
      </label>
      <button class="button button-small button-clear button-dark btn_send">
        send
      </button>
    {{/ionFooterBar}}

  {{/ionView}}
</template>
