<template name="teacherDashboardAnnouncement">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Back</h1>
  {{/contentFor}}

  {{#ionSubheaderBar}}
    <h2 class="title">Announcements</h2>
  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent class="padding has-header"}}
    <div class="list">
      <label class="item item-input">
        <input type="text" id="anno_title" placeholder="Title">
      </label>
      <label class="item item-input">
        <textarea id="anno_content" placeholder="Content"></textarea>
      </label>
    </div>
    <button class="button button-block button-balanced btn-send">
      {{> ionIcon icon="android-send" class="stable"}}
      Send
    </button>
    {{/ionContent}}
  {{/ionView}}
</template>
