<template name="teacherDashboardActivity">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Back</h1>
  {{/contentFor}}

  {{#ionSubheaderBar}}
    <h2 class="title">Class Activity</h2>
  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent class="padding"}}
    {{classinfo}}
      <div class="button-bar">
        <button class="button button-small {{#if statusActiveCheck}}button-assertive{{else}}button-stable{{/if}}" id="statusActive">
          <b>Active</b>
        </button>
        <button class="button button-small {{#if statusDueCheck}}button-assertive{{else}}button-stable{{/if}}" id="statusDue">
          <b>Due</b>
        </button>
      </div>

      {{#each activities}}
      <div class="list card">
        <div style="position:relative" class="item item-avatar">
          <img src="mcfly.jpg">
          <h2>{{title}}</h2>
          <p>{{dateformat}}</p>
          <div style="position:absolute;right:0;top:0">
            <button  class="button button-clear btnEditActivityPopOver" data-ion-popover="_EditActivityPopOver">
             {{#if isAndroid}}
               {{> ionIcon icon='android-more-vertical'}}
             {{else}}
               {{> ionIcon icon='more'}}
             {{/if}}
           </button>
         </div>
        </div>

      <div class="item item-body">
        <div style="max-height:55px;overflow-y:hidden">
        <p>
          {{description}}
        </p>
        </div>
        <p>
          <a href="#" class="subdued">
            Status:
            {{#if statusActiveCheck}}
              <span style="color:green">Active</span>
            {{else}}
              <span style="color:red">Due</span>
            {{/if}}
          </a>
        </p>
      </div>
    </div>
      {{/each}}

      <div style="position:fixed;bottom:15px;right:15px;z-index:9999">
        <a  class="button button-icon" data-ion-modal="teacheraddactivity">
          <img src="/addnew.png" width="75px">
        </a>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
