<template name="teacherDashboardClass">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">My Class</h1>
  {{/contentFor}}

  {{#ionSubheaderBar class="list item item-input-inset"}}

    <label class="item-input-wrapper">
      <input type="text" class="searchuser" placeholder="Search ID">
    </label>
    <button class="button button-clear button-dark button-small btn_clear">
      clear
    </button>

  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent}}
    <div class="padding">
      {{#if Template.subscriptionsReady}}

        {{#each classes}}
          <div class="list card">
            <li class="item item-icon-right">
                <h3>{{description}} - {{studentCount _id}} students</h3>
                <p>{{sec_code}} - {{subj_code}}</p>
                <p>{{time_start}} - {{time_end}}</p>
                <p>{{sem}} - {{school_yr}}</p>
                <p>Passkey: {{passkey}} <a class="copy" href="#" data-clipboard-text="{{passkey}}">Copy Key</a></p>
            </li>
            <a class="item item-icon-right assertive class">
              <i class="icon ion-chevron-right"></i>
              <span style="float:right">View Class</span>
            </a>
          </div>
        {{/each}}
      {{else}}
        {{>spinner}}
      {{/if}}
      <a class="triangle-btn " data-ion-modal="teacherDashboardCreate">
        <p>+</p>
      </a>
    </div>
    {{/ionContent}}
  {{/ionView}}
</template>
