<template name="teacherDashboardMessenger">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Messenger</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="list">

      {{#if Template.subscriptionsReady}}
        {{#each thread}}
          <a class="item item-avatar" href="#">
            {{#if image.count}}
              {{#each file in image.each}}
                <img src="{{file.link}}" alt="">
              {{/each}}
            {{/if}}
            <h2>{{#each name stud_id}}{{profile.firstname}}{{profile.lastname}}{{/each}}</h2>
            <span class="item-note">
              {{livestamp createdAt}}
            </span>
            <p>{{message}}</p>
          </a>
        {{/each}}
      {{else}}
        {{>spinner}}
      {{/if}}

    </div>
    {{/ionContent}}
  {{/ionView}}
</template>
