<template name="teacherDashboardAbout">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Admin About</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    {{#ionSlideBox}}
      {{#ionSlide class="light-bg"}}
        <div class="padding">
          <img src="../../meteoric.png" class="about-logo">
        </div>
        <div class="padding" style="color:black;">
          <h2 style="color:black;">Developers</h2>
          <p>
            Van Alfred Sabacajan
          </p>
          <p>
            Nino Paul Cervantes
          </p>
          <p>
            Joseph Bethuel Dela Cruz
          </p>


          <h2 style="color:black">Researchers</h2>
          <p>Apple Joy Ebcas</p>
          <p>April Gloed Subrado</p>
        </div>
      {{/ionSlide}}

      {{#ionSlide class="positive-bg"}}
        <div class="padding" style="color:white;">
          <h3 style="color:white;">Special thanks To:</h3><br>
        </div>
      {{/ionSlide}}
    {{/ionSlideBox}}

    {{/ionContent}}
  {{/ionView}}
</template>
