<template name="teacherDashboardActivity">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Back</h1>
  {{/contentFor}}

  {{#ionSubheaderBar}}
    <h2 class="title">Class Activity</h2>
  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent}}
    <p hidden>{{classinfo}}</p>
      <div class="button-bar">
        <button class="button button-small {{#if statusActiveCheck}}button-assertive{{else}}button-stable{{/if}}" id="statusActive">
          <b>Active</b>
        </button>
        <button class="button button-small {{#if statusDueCheck}}button-assertive{{else}}button-stable{{/if}}" id="statusDue">
          <b>Due</b>
        </button>
      </div>

      {{#each activities}}
      <div class="list card viewActivity">
        <div style="position:relative" class="item item-avatar">
          <img src="{{#if uploadedFiles.count}} {{#each file in uploadedFiles.each}} {{file.link}} {{/each}} {{else}} ../camera.png {{/if}}">
          <h2>{{title}}</h2>
          <p>Due: {{dateformat}}</p>
          <div style="position:absolute;right:0;top:0">
            <button  class="button button-clear btnEditActivityPopOver" data-ion-popover="_EditActivityPopOver">
             {{#if isAndroid}}
               {{> ionIcon icon='android-more-vertical'}}
             {{else}}
               {{> ionIcon icon='more'}}
             {{/if}}
           </button>
         </div>
        </div>

      <div class="item item-body">
        <div style="max-height:55px;overflow-y:hidden">
        <p>
          {{description}}
        </p>
        </div>
        <p>
          <a href="#" class="subdued">
            Status:
            {{#if statusActiveCheck}}
              <span style="color:green">Active</span>
            {{else}}
              <span style="color:red">Due</span>
            {{/if}}
          </a>
        </p>
      </div>
    </div>
      {{/each}}
      <a class="triangle-btn " data-ion-modal="teacheraddactivity">
        <p>+</p>
      </a>
    {{/ionContent}}
  {{/ionView}}
</template>
