<template name="teacherDashboardSettings">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Teacher Settings</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        {{>uploadForm}}
      </div>
      {{>uploadedFiles}}
    {{/ionContent}}
  {{/ionView}}
</template>

<template name="uploadForm">
  <a class="item item-thumbnail-left" href="#">
    {{#if uploadedFiles.count}}
      {{#each file in uploadedFiles.each}}
        <img src="{{file.link}}" alt="">
      {{/each}}
    {{/if}}
    <h2>TEACHER</h2>
    <p>Upload/Change your avatar</p>
    <p><button class="button button-small button-balanced" id="btnUpload">{{#with currentUpload}}Uploading{{else}}Select Image{{/with}}</button></p>
  </a>
  <input type="file" id="fileInput" hidden="true">
  {{#with currentUpload}}
    {{>spinner}}
  {{else}}
  {{/with}}
</template>

<template name="uploadedFiles">
  {{#if uploadedFiles.count}}
    <ul>
      {{#each file in uploadedFiles.each}}
        <li>
         <img src="{{file.link}}" alt="">
        </li>
      {{/each}}
    </ul>
  {{else}}
    <div></div>
  {{/if}}
</template>
