<template name="teacherDashboardSeatplan">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}} {{#contentFor "headerTitle"}}
  {{/contentFor}} {{#ionView}} {{#ionContent}}
{{#each classinfo}}
  <div class="padding">
    <ul class="list">
      <li class="item item-toggle">
        {{#if isEditChecked}}
          Edit on
        {{else}}
          Edit off
        {{/if}}
       <label class="toggle toggle-balanced">
         <input type="checkbox" name="editSeatplan" class="editSeatplan">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
    </ul>
    {{#if isEditChecked}}

    <ul class="list">
      <li class="item item-toggle">
        {{#if isSwapChecked}}
          Swap on
        {{else}}
          Swap off
        {{/if}}
       <label class="toggle toggle-balanced">
         <input type="checkbox" name="swapSeatplan" class="swapSeatplan">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
      </li>
    </ul>

    <h4><b>Edit Seatplan Dimension</b></h4>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Columns : {{this.cols}}
        </div>
        <select id="editcolumns">
          <option selected>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Rows : {{this.rows}}
        </div>
        <select id="editrows">
          <option selected>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </label>
    </div>

    <button class="button button-block button-balanced" id="btnSeatplanDimension">Save</button>
    {{/if}}
  </div>

  <div>
    <div style="top:0px; right:0; bottom:0; left:0; overflow-y:scroll; overflow-x: scroll">
    <table>
      {{#each loopcol}}
      <tr>
        {{#each looprow column ../rows}}
          {{#if isTaken ./col row}}
            {{#each studinfo ./col ./row}}
              {{#if isSwapSeatnum seatnum}}
                <td style="padding:10px">{{>swapreadySeat}}</td>
              {{else}}
              {{#if isSwapChecked}}
                <td style="padding:10px">{{>takenSeat}}</td>
              {{else}}
                {{#if isUnmark }}
                  <td style="padding:10px">{{>takenSeat}}</td>
                {{else}}
                  {{#if isPresent}}
                    <td style="padding:10px">{{>presentSeat}}</td>
                  {{else}}
                    {{#if isLate}}
                      <td style="padding:10px">{{>lateSeat}}</td>
                    {{else}}
                      {{#if isAbsent}}
                        <td style="padding:10px">{{>absentSeat}}</td>
                      {{/if}}
                    {{/if}}

                  {{/if}}

                {{/if}}

              {{/if}}
              {{/if}}
            {{/each}}
          {{else}}
              {{#if isEditChecked}}
                {{#if isSwapChecked}}
                  {{#if isSwapReady}}
                    <td style="padding:10px">{{>swapvacantSeat}}</td>
                  {{else}}
                      <td style="padding:10px">{{>blankSeat}}</td>
                  {{/if}}
                {{else}}
                  <td style="padding:10px">{{>vacantSeat}}</td>
                {{/if}}
              {{else}}
                <td style="padding:10px">{{>blankSeat}}</td>
              {{/if}}
          {{/if}}
        {{/each}}
      </tr>
      {{/each}}
    </table>
    </div>
  </div>
{{/each}}
  {{/ionContent}} {{/ionView}}
</template>
