<template name="teacherDashboardViewClass">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton text="Class Record" path="teacherDashboardClass"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Class Record</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

    <ul class="list title_prompt">
      <li class="item">
        {{#each classinfo classid}}
          <p>{{description}} - {{students}}</p>
          <p>{{sec_code}} - {{subj_code}}</p>
          <p>{{time_start}} - {{time_end}}</p>
          <p>{{sem}} - {{school_yr}}</p>
          <p>{{passkey}}</p>
        {{/each}}
      </li>
    </ul>

      <div class="row">
        <div class="col col-50">
          <div class="card padding">
            <img class="full-image" src="../../../class/microphone-icon.png" style="height:30%">
            <div class="title_prompt">
              <p>Announcement</p>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="card padding">
            <img class="full-image" src="../../../class/activity-icon.png">
            <div class="title_prompt">
              <p>Activity</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="card padding">
            <img class="full-image" src="../../../class/seatplan-icon.png">
            <div class="title_prompt">
              <p>Seat Plan</p>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="card padding">
            <img class="full-image" src="../../../class/users-icon.png">
            <div class="title_prompt">
              <p>Attendance</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-50">
          <div class="card padding">
            <img class="full-image" src="../../../class/classrecords-icon.png">
            <div class="title_prompt">
              <p>Class Records</p>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="card padding">
            <img class="full-image" src="../../../class/settings-icon.png">
            <div class="title_prompt">
              <p>Grade Settings</p>
            </div>
          </div>
        </div>
      </div>

    {{/ionContent}}
  {{/ionView}}
</template>
