<template name="teacherDashboardMessenger">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">Teacher Messenger</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">Teacher Messenger</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
