<template name="teacherDashboardHome">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">Home</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">Home</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

        <h4><strong>ANNOUNCEMENTS:</strong></h4>
        {{#each news}}
          <div class="card">
            <div class="item item-divider">
              {{title}} <strong>by: {{author}}</strong>
            </div>
            <div class="item item-text-wrap">
              {{content}}
            </div>
            <div class="item item-divider">
              {{livestamp createdAt}}
            </div>
          </div>
        {{/each}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
