<template name="viewfile">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="" }}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    <div class="padding">
      <p hidden>{{infos}}</p>
      {{#if uploadedFiles.count}}
        {{#each file in uploadedFiles.each}}
          <!--page to view selected files from the student-->
          <div class="list">
              <div class="item item-input-inset">
                <label class="item-input-wrapper">
                  {{#if studentgrade.count}}
                  {{#each studentgrade}}
                    <input type="Number" id="newgrades" placeholder="{{grade}}" value="{{grade}}">
                  {{/each}}
                  {{else}}
                      <input type="Number" id="newgrades" placeholder="0" value="0">
                  {{/if}}
                </label>
              <button class="button button-small" id="updategrade">
                Submit
              </button>
              </div>

          </div>
              <!--display the file in an object tag-->
            <object style="width:100%;height:720px" data="{{file.name}}" type="application/pdf">
              <embed src="{{file.link}} " type="application/pdf" />
            </object>
            <p>Error in loading the file? download it <a href="#" onclick="window.open('{{file.link}}', '_system', 'location=yes');">here</a>.</p>
          {{/each}}
        {{/if}}
    </div>
    {{/ionContent}}
  {{/ionView}}
</template>
