$positive: #0059CF;
$energized: #0A9A8D;
$royal: #424242;
$loading-font-size: 22px;

@import 'meteoric_ionic-sass/_ionic';
@import 'meteoric_ionicons-sass/_ionicons';

.space-register{
  padding-bottom: 10px;
}

// login page start

.home_login{
  background: linear-gradient(230deg, rgb(75, 207, 147), rgb(75, 121, 207), rgb(162, 75, 207)) 0% 0% / 300% 300%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}

.home-banner{
  font-family: 'Lobster', cursive;
  color: #FAFAFA;
}

@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Lobster-regular/Lobster-regular.eot');
  src: url('/fonts/Lobster-regular/Lobster-regular.eot?#iefix') format('embedded-opentype'),
       local('/Lobster'),
       local('/Lobster-regular'),
       url('/fonts/Lobster-regular/Lobster-regular.woff2') format('woff2'),
       url('/fonts/Lobster-regular/Lobster-regular.woff') format('woff'),
       url('/fonts/Lobster-regular/Lobster-regular.ttf') format('truetype'),
       url('/fonts/Lobster-regular/Lobster-regular.svg#Lobster') format('svg');
}

.home-form{
  margin-left: 16px;
  margin-right: 16px;
}

.home-signup{
  color: #BDBDBD;
}

.signup-link{
  color: #FAFAFA;
}

@media screen and (orientation:portrait) {
  .space{
    margin-bottom: 5%;
  }
  .buksu_logo{
    @include transition(0.4s);
    width:50%;
    height:50%;
  }
}
@media screen and (orientation:landscape) {
  .space{
    margin-bottom: 3%;
  }
  .buksu_logo{
    @include transition(0.4s);
    width:20%;
    height:20%;
  }
}

// login page end

//register page

.register-form{
  margin-left: 10px;
  margin-right: 10px;
}

//register page end

//popups text align
.title_prompt{
  text-align: center;
}
//popups text align end

// dashboard sidebar avatar
.sidebar_avatar{
  height: 100px;
  border-bottom-width: 0.5px;
  margin-bottom: 1px;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.sidebar_name{
  color: #424242;
}

.sidebar_subtitle{
  color: #616161;
}

.sidebar-item-divider{
  background-color: #FFFFFF;
  border-bottom: hidden;
}

.item-icon-left{
  border: hidden;
}

.about-logo{
  text-align: center;
  width: 100%;
}

.item-avatar-right{
  padding: 16px 49px 16px 16px;
}


.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 0px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}
