@font-face {
  font-family: 'Lobster';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Lobster-regular/Lobster-regular.eot');
  src: url('/fonts/Lobster-regular/Lobster-regular.eot?#iefix') format('embedded-opentype'),
       local('Lobster'),
       local('Lobster-regular'),
       url('/fonts/Lobster-regular/Lobster-regular.woff2') format('woff2'),
       url('/fonts/Lobster-regular/Lobster-regular.woff') format('woff'),
       url('/fonts/Lobster-regular/Lobster-regular.ttf') format('truetype'),
       url('/fonts/Lobster-regular/Lobster-regular.svg#Lobster') format('svg');
}
