.table-wrapper {
    overflow-x:scroll;
    overflow-y:visible;
    margin-left:153px;
    margin-bottom:100px;
}


.table-wrapper td, .table-wrapper th {
    padding: 5px 20px;
    width:150px;
    border-bottom:1px solid black;
    border-right:1px solid black;
    height:50px;
}

.table-wrapper th:first-child {
    position: absolute;
    background-color:#92C9FC;
    padding: 5px 5px;
    border-left:1px solid black;
    left:0;
}

.table-wrapper th{
  background-color:yellow;
}
