<template name="studentDashboardLayout">
  {{#if isInRole 'student'}}
  {{#ionBody}}
    {{#ionSideMenuContainer side="left"}}
      {{#ionSideMenus}}
        {{#ionSideMenu}}

          <div class="content">
            <div class="list">
              <a class="item item-thumbnail-left sidebar_avatar" href="#">
                <img src="{{#if uploadedFiles.count}} {{#each file in uploadedFiles.each}} {{file.link}} {{/each}} {{else}} ../camera.png {{/if}}">
                <h2 class="sidebar_name">{{currentUser.username}}</h2>
                <h2 class="sidebar_name">{{currentUser.profile.lastname}}</h2>
                <h2 class="sidebar_name">{{currentUser.profile.middlename}}</h2>
                <h2 class="sidebar_name">{{currentUser.profile.firstname}}</h2>
              </a>
              <div class="item item-divider sidebar_subtitle sidebar-item-divider">
                Main Menu
              </div>
              <div class="item item-icon-left" id="sideHome" style="{{#if isActiveRoute 'studentDashboardHome'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Home {{> ionIcon icon="android-home" class="energized"}}
              </div>
              <div class="item item-icon-left" id="sideAnnouncement" style="{{#if isActiveRoute 'studentDashboardClassAnnouncement'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Class Announcement {{> ionIcon icon="mic-c" class="energized"}}
              </div>
              <div class="item item-icon-left" id="sideMessenger" style="{{#if isActiveRoute 'studentDashboardMessenger'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Messenger {{> ionIcon icon="android-mail" class="energized"}}
                <span class="badge badge-assertive">{{unread}}</span>
              </div>
              <div class="item item-icon-left" id="sideSearch" style="{{#if isActiveRoute 'studentDashboardSearch'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Search {{> ionIcon icon="android-search" class="energized"}}
              </div>
              <div class="item item-icon-left" id="sideSchedules" style="{{#if isActiveRoute 'studentDashboardSchedules'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                My Schedules {{> ionIcon icon="android-list" class="energized"}}
              </div>
              <div class="item item-icon-left" id="sideSettings" style="{{#if isActiveRoute 'studentDashboardSettings'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                Settings {{> ionIcon icon="android-settings" class="energized"}}
              </div>
              <div class="item item-divider sidebar_subtitle sidebar-item-divider">
                Application
              </div>
              <div class="item item-icon-left" id="sideAbout" style="{{#if isActiveRoute 'studentDashboardAbout'}}background-color:#E0E0E0;{{/if}}" data-ion-menu-close>
                About {{> ionIcon icon="android-alert" class="energized"}}
              </div>
              {{#if isImpersonating}}
              <div class="item item-icon-left" data-unimpersonate data-ion-menu-close>
                Back to admin
                {{> ionIcon icon="log-out" class="energized"}}
              </div>
              {{/if}}
              <div class="item item-icon-left" id="sideLogout" data-ion-menu-close>
                Log out {{> ionIcon icon="ios-undo" class="energized"}}
              </div>

            </div>
          </div>

        {{/ionSideMenu}}

      {{/ionSideMenus}}
      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-royal"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/ionBody}}

  {{else}}
    {{>dashboard}}
  {{/if}}
</template>
