<template name="studentDashboardHome">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;"> Student Home</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <h4><strong>ADMIN ANNOUNCEMENTS:</strong></h4>

        {{#if Template.subscriptionsReady}}
          {{#each news}}
            <div class="list card">
              <div class="list">
                <a class="item item-thumbnail-left" href="#">
                  <img src="../admin.png">
                  <h3>What: {{title}}</h3>
                  <h3>By: {{author}}</h3>
                  <div class="item-text=wrap">{{content}}</div>
                </a>
                <div class="item item-text-wrap">
                  <p>{{livestamp createdAt}}</p>
                </div>
              </div>
            </div>
          {{/each}}
        {{else}}
          {{>spinner}}
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
