<template name="studentDashboardSchedules">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">Student Schedules</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">Student Schedules</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

      {{#if Template.subscriptionsReady}}
        <div class="list">

          {{#each myclasses}}
            {{#each inClass classId}}
              <a class="item item-thumbnail-left" href="{{pathFor 'tabs.one'}}" id="btnenterclass">
                <img src="../class.png">
                <h3><strong>{{description}}</strong></h3>
                <h3><strong>{{sec_code}} - {{subj_code}}</strong></h3>
                <h3>
                  <strong>
                    {{#each TeacherName teachId}}
                      Prof. {{profile.firstname}} {{profile.lastname}}
                    {{/each}}
                  </strong>
                </h3>
                <h3>{{sched}} - [{{time_start}} - {{time_end}}]</h3>
                <h3>{{sem}} - [{{school_yr}}]</h3>
              </a>
            {{/each}}
          {{/each}}

        </div>
      {{else}}
        {{>spinner}}
      {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
