<template name="studentDashboardClassAnnouncement">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Class Announcement</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

        {{#if Template.subscriptionsReady}}
          {{#each classid}}
            {{#each announcement classId}}
              <div class="list card">
                <div class="list">
                  <a class="item" href="#">
                    <p><div class="item-text-wrap"><i class="fa fa-info" aria-hidden="true"></i> {{title}}</div></p>
                    <p><div class="item-text-wrap"><i class="fa fa-user" aria-hidden="true"></i> {{#each teacherName senderId}}Prof. {{profile.lastname}} {{profile.firstname}}{{/each}}</div></p>
                    {{#each classinfo classId}}
                      <p><div class="item-text-wrap"><i class="fa fa-info-circle" aria-hidden="true"></i> {{description}}</div></p>
                      <p><div class="item-text-wrap"><i class="fa fa-users" aria-hidden="true"></i> {{sec_code}}</div></p>
                    {{/each}}
                      <p><div class="item-text-wrap"><i class="fa fa-calendar" aria-hidden="true"></i> {{day}}</div></p>
                      <p><div class="item-text-wrap"><i class="fa fa-clock-o" aria-hidden="true"></i> {{time}}, {{livestamp createdAt}}</div></p>
                  </a>
                  <div class="item item-text-wrap">
                    <div class="item-text-wrap">{{content}}</div>
                  </div>
                </div>
              </div>
            {{/each}}
          {{/each}}
        {{else}}
          {{>spinner}}
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
