<template name="studentDashboardMessenger">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Student Messenger</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}

      {{#if Template.subscriptionsReady}}
        <div class="list">
          {{#each thread}}
            <a class="item item-avatar" href="#" style="{{#unless seenByStudent}}font-weight:bold;{{/unless}}">
              {{#if image.count}}
                {{#each file in image.each}}
                  <img src="{{file.link}}" alt="">
                {{/each}}
              {{/if}}
              <p>{{#each name teach_id}}{{profile.lastname}}, {{profile.firstname}}{{/each}}</p>
              <span class="item-note">{{livestamp lastMessageDate}}</span>
              <p>{{#if equals lastMessageBy currentUser._id}}You:{{/if}} {{lastMessage}}</p>
            </a>
          {{/each}}
        </div>
      {{else}}
        {{>spinner}}
      {{/if}}


    {{/ionContent}}
  {{/ionView}}
</template>
