<template name="studentDashboardSchedules">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">Student Schedules</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">Student Schedules</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

        <div class="list">

            <a class="item item-thumbnail-left" href="#">
              <img src="../user.png">
              <h2>Pretty Hate Machine</h2>
              <p>Nine Inch Nails</p>
            </a>

        </div>

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
