<template name="studentDashboardHome">

  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">BukSU Home</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

        {{#if Template.subscriptionsReady}}
          {{#each news}}
            <div class="list card">
              <div class="list">
                <a class="item item-thumbnail-left" href="#">
                  <img src="../buksu_logo.png">
                  <p><div class="item-text-wrap"><i class="fa fa-info-circle" aria-hidden="true"></i> {{title}}</div></p>
                  <p><div class="item-text-wrap"><i class="fa fa-user" aria-hidden="true"></i> {{author}}</div></p>
                  <p><div class="item-text-wrap"><i class="fa fa-calendar" aria-hidden="true"></i> {{day}}</div></p>
                  <p><div class="item-text-wrap"><i class="fa fa-clock-o" aria-hidden="true"></i> {{time}}, {{livestamp createdAt}}</div></p>
                </a>
                <div class="item item-body">
                  <div class="item-text-wrap">{{content}}</div>
                </div>
              </div>
            </div>
          {{/each}}
        {{else}}
          {{>spinner}}
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}

</template>
