<template name="studentDashboardClassAnnouncement">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Class Announcement</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">
        <h4><strong>CLASS ANNOUNCEMENTS:</strong></h4>

        {{#if Template.subscriptionsReady}}
          {{#each classid}}
            {{#each announcement classId}}
              <div class="list card">
                <div class="list">
                  <a class="item" href="#">
                    {{#each classinfo classId}}
                      <h3>Description: {{description}}</h3>
                      <h3>Section Code: {{sec_code}}</h3>
                    {{/each}}
                    <h3>WHAT: {{title}}</h3>
                    <h3>BY: {{#each teacherName senderId}}Prof. {{profile.lastname}} {{profile.firstname}}{{/each}}</h3>
                    <div class="item-text-wrap">{{content}}</div>
                  </a>
                  <div class="item item-text-wrap">
                    <p>{{livestamp createdAt}}</p>
                  </div>
                </div>
              </div>
            {{/each}}
          {{/each}}
        {{else}}
          {{>spinner}}
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
