<template name="studentDashboardClassStanding">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Back</h1>
  {{/contentFor}}

  {{#ionSubheaderBar}}
    <h2 class="title">Class Standing</h2>
  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent class="padding"}}

    {{#if Template.subscriptionsReady}}
    {{#each gradeinfo}}
    <div class="item item-divider">
      {{term}} STANDINGS:
    </div>

      <div class="row" style="margin-top:-20px;">
        <div class="col col-50">
          <div class="card">
            <div class="item item-divider">
              Class Standing
            </div>
            <div class="item item-text-wrap">
              <h1><div class="text_center">{{totalCS}}</div></h1>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="card">
            <div class="item item-divider">
              Exams
            </div>
            <div class="item item-text-wrap">
              <h1><div class="text_center">{{totalEXAM}}</div></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:-20px;">
        <div class="col col-50">
          <div class="card">
            <div class="item item-divider">
              Projects
            </div>
            <div class="item item-text-wrap">
              <h1><div class="text_center">{{totalPRJ}}</div></h1>
            </div>
          </div>
        </div>
        <div class="col col-50">
          <div class="card">
            <div class="item item-divider">
              Mid Term Grade
            </div>
            <div class="item item-text-wrap">
              <h1><div class="text_center">{{overallTotal}}</div></h1>
            </div>
          </div>
        </div>
      </div>
      {{/each}}

      {{else}}
        {{>spinner}}
      {{/if}}

    {{/ionContent}}
  {{/ionView}}
</template>
