<template name="studentDashboardMessenger">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">Messenger</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">Messenger</h1>
    {{/if}}
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      <div class="padding">

        <div class="list">

          <a class="item item-avatar" href="#">
            <img src="../user.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
          </a>

          <a class="item item-avatar" href="#">
            <img src="../user.png">
            <h2>Venkman</h2>
            <p>Back off, man. I'm a scientist.</p>
          </a>

        </div>

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
