<template name="studentDashboardSearch">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    {{#if isAndroid}}
      <h1 class="title">Class Search</h1>
    {{else}}
      <h1 class="title" style="text-align:center;">Class Search</h1>
    {{/if}}
    <button class="button button-clear pull-right" data-ion-menu-toggle="right">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionSubheaderBar class="item-input-inset"}}

    <label class="item-input-wrapper">
      <input type="text" id="txtSearchDescription" placeholder="Search">
    </label>

  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent}}

      <div class="padding has-subheader">
        {{#if Template.subscriptionsReady}}

          {{#each searchresult}}
            {{#if notInclass}}
              <a class="item item-thumbnail-left" href="#" id="btnenterclass">
                <img src="../class.png">
                <h3><strong>{{description}}</strong></h3>
                <h3><strong>{{sec_code}} - {{subj_code}}</strong></h3>
                <h3>
                  <strong>
                  {{#each TeacherInfo teachId}}
                    Prof. {{profile.firstname}} {{profile.lastname}}
                  {{/each}}
                  </strong>
                </h3>
                <h3>{{sched}} - [{{time_start}} - {{time_end}}]</h3>
                <h3>{{sem}} - [{{school_yr}}]</h3>
              </a>
              {{/if}}
            {{else}}
            No results found.
          {{/each}}

        {{else}}
          {{>spinner}}
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
