<template name="studentDashboardSearch">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title" style="text-align:center;">Class Search</h1>
  {{/contentFor}}

  {{#ionSubheaderBar class="item-input-inset"}}

    <label class="item-input-wrapper">
      <input type="text" id="txtSearchDescription" placeholder="Search">
    </label>

  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent}}

      <div class="padding has-subheader">
        {{#if Template.subscriptionsReady}}


          {{#each searchresult}}
            {{#if notInclass}}
              <div class="list card">
                <a class="item" href="#" id="btnenterclass">
                  <p><i class="fa fa-info-circle" aria-hidden="true"></i> {{description}}</p>
                  <p><i class="fa fa-users" aria-hidden="true"></i> {{sec_code}} - {{subj_code}}</p>
                  <p>
                    {{#each TeacherInfo teachId}}
                    <i class="fa fa-user" aria-hidden="true"></i>  Prof. {{profile.firstname}} {{profile.lastname}}
                    {{/each}}
                  </p>
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{sched}} - [{{time_start}} - {{time_end}}]</p>
                  <p><i class="fa fa-calendar" aria-hidden="true"></i> {{sem}} - [{{school_yr}}]</p>
                </a>
              </div>
            {{/if}}
          {{else}}
            No results found.
          {{/each}}

        {{else}}
          {{>spinner}}
        {{/if}}

      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
