<template name="studentDashboardClassClassroom">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path=""}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Back</h1>
  {{/contentFor}}

  {{#ionSubheaderBar}}
    <h2 class="title">Class Room</h2>
  {{/ionSubheaderBar}}

  {{#ionView}}
    {{#ionContent}}
    {{#each classinfo}}
    <div style="top:0px; right:0; bottom:0; left:0; overflow-y:scroll; overflow-x: scroll">
    <table>
      {{#each looprow}}
      <tr>
        {{#each loopcol row ../cols}}
          {{#if isTaken ./row col}}
            {{#each studinfo ./row ./col}}
                  {{#if isUnmark }}
                    <td style="padding:10px">{{>takenSeat}}</td>
                  {{else}}
                    {{#if isPresent}}
                      <td style="padding:10px">{{>presentSeat}}</td>
                    {{else}}
                      {{#if isLate}}
                        <td style="padding:10px">{{>lateSeat}}</td>
                      {{else}}
                        {{#if isAbsent}}
                          <td style="padding:10px">{{>absentSeat}}</td>
                        {{/if}}
                      {{/if}}
                    {{/if}}
                  {{/if}}
            {{/each}}
          {{else}}
            <td style="padding:10px">{{>blankSeat}}</td>
          {{/if}}
        {{/each}}
      </tr>
      {{/each}}
    </table>
    </div>
    {{/each}}
    {{/ionContent}}
  {{/ionView}}
</template>
