<template name="studentDashboardLayout">
 {{#if isInRole 'student'}}
  {{#ionBody}}
    {{#ionSideMenuContainer}}
      {{#ionSideMenus}}
        {{#ionSideMenu}}

        <!-- <div class="bar bar-header bar-positive">
          <h1 class="title">Main Menu</h1>
        </div> -->

          <div class="content">
            <div class="list">
              <a class="item item-thumbnail-left sidebar_avatar" href="#">
                <img src="../user.png">
                <h2 class="sidebar_name">{{currentUser.username}}</h2>
                <h3 class="sidebar_name">ADMIN</h3>
              </a>
              <div class="item item-icon-left" id="sideHome" data-ion-menu-close>
                Home
                {{#if isAndroid}}
                  {{> ionIcon icon="android-home" class="positive"}}
                {{else}}
                  {{> ionIcon icon="ios-home" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sideNews" data-ion-menu-close>
                Post News
                {{#if isAndroid}}
                  {{> ionIcon icon="android-star" class="positive"}}
                {{else}}
                  {{> ionIcon icon="ios-star" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sideGenerateT" data-ion-menu-close>
                Generate Token Teacher
                {{#if isAndroid}}
                  {{> ionIcon icon="android-add" class="positive"}}
                {{else}}
                  {{> ionIcon icon="ios-plus-outline" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sideGenerateS" data-ion-menu-close>
                Generate Token Student
                {{#if isAndroid}}
                  {{> ionIcon icon="android-add-circle" class="positive"}}
                {{else}}
                  {{> ionIcon icon="ios-plus" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sideSettings" data-ion-menu-close>
                Settings
                {{#if isAndroid}}
                  {{> ionIcon icon="android-settings" class="positive"}}
                {{else}}
                  {{> ionIcon icon="ios-settings" class="positive"}}
                {{/if}}
              </div>
              <div class="item item-icon-left" id="sideAbout" data-ion-menu-close>
                About
                {{#if isAndroid}}
                  {{> ionIcon icon="ios-information" class="positive"}}
                {{else}}
                  {{> ionIcon icon="ios-information" class="positive"}}
                {{/if}}
              </div>
            </div>
          </div>

        {{/ionSideMenu}}

        {{#ionSideMenu side="right"}}

          <div class="bar bar-header bar-dark">
            <h1 class="title">Right Menu</h1>
          </div>
          <div class="content has-header">
            <div class="list">
              <div class="item item-icon-left" id="btnLogout" data-ion-menu-close>
                {{> ionIcon icon="power"}} Log Out
              </div>
            </div>
          </div>

        {{/ionSideMenu}}

      {{/ionSideMenus}}
      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-positive"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}
    {{/ionSideMenuContainer}}
  {{/ionBody}}

  {{else}}
    {{>dashboard}}
  {{/if}}
</template>
